* {
    font-family: "Open Sans", serif;
    font-size: 1rem;
    color: #796450;
    margin: 0px;
    padding: 0px;
}

img {
    width: 80px;
    height: 80px;
    border-radius: 62.5rem;
}

.contenedor-principal {
    background: linear-gradient(45deg, #EDBC6B, #CB7F4F);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
}

.contenedor-secundario {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "izquierda derecha-arriba"
        "izquierda derecha-centro"
        "izquierda derecha-abajo";
    width: 400px;
    height: 400px;
    gap: 3px;
    box-shadow: 10px 10px 5px #AA8157;
}


.perfil {
    display: flex;
    flex-direction: column;
    margin: 50px 0 50px 0;
    align-items: center;
}

.perfil h1 {
    margin-top: 30px;
}

.animacion-img {
    position: relative;
    width: 70px;
    height: 70px;
}

img{
  width:70px;
  height:70px;
  display: block;
  border-radius: 50%;
}

.circulo-1 {
        position: absolute;
        box-sizing: border-box;
        width: 76px;
        height: 76px;
        top: -3px;
        left: -3px;
        border-width: 1px;
        border-style: solid;
        border-color: #786450 #786450 #786450 transparent;
        border-radius: 50%;
        transition: all 1.5s ease-in-out;
    }

.circulo-2{
        position: absolute;
        box-sizing: border-box;
        width: 82px;
        height: 82px;
        top: -6px;
        left: -6px;
        border-width: 1px;
        border-style: solid;
        border-color: #786450 transparent  #786450 #786450;
        border-radius: 50%;
        transition: all 1.5s ease-in-out;
    }

.animacion-img:hover{
    cursor: pointer;
    .circulo-1{
     transform: rotate(360deg);
    }
    .circulo-2{
        transform: rotate(-360deg);
    }
}

.dinamico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dinamico a {
  display: inline-block; 
  border: 2px solid #796450; 
  border-radius: 200px; 
  padding: 5px 10px; 
  text-decoration: none; 
  color: #796450;
  font-size: 16px; 
  margin-bottom: 10px;
  width: 130px;
  height: 20px;
}


.dinamico a:hover{
    color: white; 
    cursor: default;
    background-color: #796450;
    transition: all .3s ease-out;
}
    
.izquierda {
    grid-area: izquierda;
    background-color: #FFFFFF;
}


.derecha-arriba {
    grid-area: derecha-arriba;
    background-color: #F5E8DF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.derecha-centro {
    grid-area: derecha-centro;
    background-color: #F5E8DF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.derecha-abajo {
    grid-area: derecha-abajo;
    background-color: #F5E8DF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.derecha-arriba:hover,
.derecha-centro:hover,
.derecha-abajo:hover{
    color: #796450; 
    cursor: pointer;
    background-color: #E2D0C4;
    transition: all .3s ease-out;
}